
<div class="posts">
  {% assign limitter=0 %}

  <!-- {% increment var %} -->

  {% if var != 0 %}
  {% assign limitter= var %}
  {% for i in (1...limitter)%}
  <!-- {% decrement var %}-->
  {% endfor %}
  {% endif %}

  {% if include.header  == true %}
    <h2>Recent {{include.type}}s</h2>
  {% endif %}

  {% for post in site.pages %}
    {% if post.type == include.type %}

      {% if var < include.limit %}
      {% if include.featured == 'true' %}
        {% if post.featured %}
                 <div class="post post-excerpt w3-card-2 w3-row">

        {% if post.thumbnail %}
          <div class="w3-col m6 left ">
            <img src="{{ site.baseurl }}{{post.thumbnail}}"
            class="excerpt">
          </div>

          <div class="w3-col m6 right">
            <h4 class="post-title">
            <a href="{{ post.url }}">

              {{ post.title }}

            </a>
            </h4>
            <span class="post-date">{{ post.date | date_to_string }}</span>
            <div class="text-excerpt">

              {{ post.excerpt }}

            </div>
            <div class="button-block">
            <a  href="{{ post.url }}" class= "button" target="_blank">READ MORE</a>
            {% if post.buttons %}
              {% for button_hash in post.buttons %}
                {% for button in button_hash %}
                    <a  href="{{ button[1] }}" class= "button" target="_blank">{{ button[0] }}</a>
                {% endfor %}
              {% endfor %}
            {% endif %}
            </div>
          </div>

        {% else %}

          <h2 class="post-title">
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
          </h2>
          <span class="post-date">{{ post.date | date_to_string }}</span>

            {{ post.content | split:'<!--excerpt-->' | first }}

          {% if post.content contains '<!--excerpt-->' %}
            <a href="{{ post.url }}">read more</a>
          {% endif %}

        {% endif %}
      </div>

      <!-- {% increment var %} -->
        {% endif %}
      {% else %}
      <div class="post post-excerpt w3-card-2 w3-row">

        {% if post.thumbnail %}
          <div class="w3-col m6 left ">
            <img src="{{ site.baseurl }}{{post.thumbnail}}"
            class="excerpt">
          </div>

          <div class="w3-col m6 right">
            <h4 class="post-title">
            <a href="{{ post.url }}">

              {{ post.title }}

            </a>
            </h4>
            <span class="post-date">{{ post.date | date_to_string }}</span>
            <div class="text-excerpt">

              {{ post.excerpt }}

            </div>
            <div class="button-block">
            <a  href="{{ post.url }}" class= "button" target="_blank">Read More</a>
            {% if post.buttons %}
              {% for button_hash in post.buttons %}
                {% for button in button_hash %}
                    <a  href="{{ button[1] }}" class= "button" target="_blank">{{ button[0] }}</a>
                {% endfor %}
              {% endfor %}
            {% endif %}
              {% if post.blog %}
                <a href="{{ post.url }}" class="button" >BLOG</a>
              {% endif %}
              {% if post.code %}
                <a href="{{ post.code }}" target="_blank" class="button ">CODE</a>
              {% endif %}
            </div>
          </div>

        {% else %}

          <h2 class="post-title">
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
          </h2>
          <span class="post-date">{{ post.date | date_to_string }}</span>

            {{ post.content | split:'<!--excerpt-->' | first }}

          {% if post.content contains '<!--excerpt-->' %}
            <a href="{{ post.url }}">read more</a>
          {% endif %}

        {% endif %}
      </div>

      <!-- {% increment var %} -->
      {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {%assign limitter = var %}
  {%for i in (0...limitter) %}
    <!-- {% decrement var %} -->
  {% endfor %}
</div>
