
<!--{% increment pub_tile_counter %}-->
{% assign sortedResources = site.pages | sort: 'date' | reverse %}
{% for post in sortedResources %}
  {% if post.categories == include.topic and pub_tile_counter <= include.limit %}
  <!--<h1>  {{ pub_tile_counter }} </h1>-->
<!--{% increment pub_tile_counter %}-->
  <div class="col s12">
    <div class="card diff_bg">
        
      <div class="card-content">
        <div class = 'row min_margin darkest-font'>
            <div class = 'col s2 min_margin'>
                <img src= "{{ site.baseurl }}/{{ post.thumbnail }} " 
                    style="height: 50%;width: 100%;object-fit: contain;max-height: 120px;">
                </img>
            </div>
            <div class = 'col s10 min_margin'>
                <span id="post-title" class="card-title">{{post.title}}</span>
                <p id="post-date">
                    {{ post.authors }}
                </p>
                <p id="post-date">
                    {{ post.venue }}
                </p>

                <div class = 'row min_margin darkest-font'>
                {% if post.website_link %}
                    <div class = 'col'>
                    <a href="{{post.website_link }}" target = "_blank">
                        Project Page
                    </a>
                    </div>
                {% endif %}
                {% if post.poster %}
                    <div class = 'col'>
                    <a href="{{post.poster }}" target = "_blank">
                        Poster
                    </a>
                    </div>
                {% endif %}
                {% if post.pub_link %}
                <div class = 'col'>
                <a href="{{post.pub_link }}" target = "_blank">
                    Publication
                </a>
                </div>
                {% endif %}
                {% if post.code_link %}
                <div class = 'col'>
                <a href="{{post.code_link }}" target = "_blank">
                    Code on GitHub
                </a>
                </div>
                {% endif %}
                </div>

            </div>
        </div>
      </div>

    </div>
  </div>
  {% endif %}
{% endfor %}