
<!-- {% increment cur_tile_overlay_counter %} -->
{% assign navigation_pages = site.pages | sort: 'date' | reverse %}
<div>
    {% for post in navigation_pages %}
        {% if cur_tile_overlay_counter > 0 %}
            <!-- {% decrement cur_tile_overlay_counter %} -->
        {% endif %}
    {% endfor %}
</div>

{% for post in navigation_pages %}
  {% if post.categories == include.topic and cur_tile_overlay_counter < include.limit %}
  <!-- <h1>  {{ cur_tile_overlay_counter }} {{include.limit}}</h1> -->
<!--{% increment cur_tile_overlay_counter %}-->
<div class="col s12 m6 l4">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light geopattern" data-pattern-id="{{post.title}}">
      <!-- <i class="material-icons waves-effect waves-block waves-light">more_vert</i> -->
      <a class="card-title center-align valign-wrapper" href="{{post.link}}" target="_blank">{{post.title}}</a>
    </div>
  </div>

</div>

  {% endif %}
{% endfor %}