.darkest-bg{
    background: #3d3838 !important
}
.dark-bg{
    background:#645a70 !important
}
.normal-bg{
    background: #958aa3 !important
}
.light-bg{
    background:#c4c4c4 !important

}
.lightest-bg{
    background: #eaeaea ! important
}
.darkest-font{
    color: #3d3838 !important
}
.dark-font{
    color:#645a70 !important
}
.normal-font{
    color: #958aa3 !important
}
.light-font{
    color:#c4c4c4 !important

}
.lightest-font{
    color: #eaeaea ! important
}
.circle-add{
    margin-left: auto;
    margin-right:auto;
    margin-top:25%;
}
.head-font{
    font-family: 'Roboto Condensed', sans-serif !important;
    text-align: center !important;
}
.para-font{
    font-family: 'Roboto Condensed', sans-serif !important;
}
.my-box{
    /*width: 150% !important;*/
    /*margin-left: -25% !important;*/
    padding-top: 25px;
    padding-bottom:25px;
}
.news a:link { color: #958aa3 !important }
.news a:visited { color: #958aa3 !important}
.news a:hover { color: #645a70 !important }
.news a:active { color: #958aa3 !important }

.darkest-font a:link { color: #958aa3 !important }
.darkest-font a:visited { color: #958aa3 !important}
.darkest-font a:hover { color: #645a70 !important }
.darkest-font a:active { color: #958aa3 !important }
.card-action{
    text-align: right;
}

.min_margin {
    /* margin-top: 1% !important;
    margin-bottom: 1% !important;
    padding-top: 1% !important;
    padding-bottom: 1% !important; */
    margin-top: 1px !important;
    margin-bottom: 1px !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}
.no_bg{
    background: none !important;
    box-shadow: none !important;
}
.diff_bg{
    background-color: #f5f5f5;
    border: #e5e5e5c7 solid 2px;
    box-shadow: none !important;

}
.normal_margin{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;

}
.no-height-lim{
    height: 6em !important;
}